<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row align-items-center">
            <div class="col-md-6">
                <img class="card-img-top mb-5 mb-md-0" [src]="sanitize(imageUrl)" />
            </div>
            <div class="col-md-6">
                <h1 class="display-5 fw-bolder">Mount Etna</h1>

                <div *ngFor="let layer of layersArray">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" [id]="layer.id"
                            [value]="layer.id" [checked]="layer.id === 'TRUECOLOR'" (change)="handleChange(layer)">
                        <label class="form-check-label" [for]="layer.id">
                            {{layer.name}}
                        </label>
                    </div>
                </div>                
            </div>

            <div class="d-flex">
                <input class="form-control text-center me-3" id="inputQuantity" type="num" value="1"
                    style="max-width: 3rem">
                <button class="btn btn-outline-dark flex-shrink-0" type="button">
                    <i class="bi-cart-fill me-1"></i>
                    Add to cart
                </button>
            </div>
        </div>
    </div>
</section>